*{
    margin: 0;
    padding: 0;
}
body{
    display: block;
    background-color: cadetblue;
    padding: 10px;
}
h1{
    background-color: blueviolet;
    color: white;
    text-align: center;
}
main{
    width: 50%;
    background-color: white;
    margin: 40px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0lvw;
}
label{
    display: block;
    margin-top: 10px;
    color: black;
    text-transform: capitalize;
}
select,input,button{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.form-group{
    margin-bottom: 15px;
}
.Chek-box{
    display: flex;
    gap: 10px;

}
.row{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.row > article{
    flex: 1;
}

button{
    background-color: green;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: rgb(199, 95, 10);
    cursor: pointer;
    color: white;
}
@media screen and (max-width:600px) {
    h1{
        font-size: 30px;
        width: 300px;
        margin: 40px auto;
    }
    .row{
        flex-direction: column;
    }
    label{
        display: block;
        margin-top: 5px;
        color: black;
        text-transform: capitalize;
    }
    select,input,button{
        padding: 5px;
        width: 100%;
        box-sizing: border-box;
        color: black;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

}
